body {
    color: white;
    background: rgb; (5, 0, 0);
    margin: 0px;
   font-family;  "Chakra Petch", sans-serif;
   margin-bottom: 100px,
}

header{
    border-bottom: solid 2px rgb(42, 122, 228);
}

.main{
    font-family: 'Courier New', Courier, monospace;
    color: aqua;

}

.main h2

.video{

    position: relative;
    left: 600px;
    top: -30px;
}

img {
    height: 200px:
 }